/* line 8, app/assets/stylesheets/colors.scss */
.text-orange {
  color: #ff8800;
}

/* line 12, app/assets/stylesheets/colors.scss */
.bg-orange {
  background-color: #ff8800;
}

/* line 16, app/assets/stylesheets/colors.scss */
.text-blue {
  color: #315cfd;
}

/* line 20, app/assets/stylesheets/colors.scss */
.bg-blue {
  background-color: #315cfd;
}

/* line 24, app/assets/stylesheets/colors.scss */
.text-peach {
  color: #ff6600;
}

/* line 28, app/assets/stylesheets/colors.scss */
.bg-peach {
  background-color: #ff6600;
}

/* line 32, app/assets/stylesheets/colors.scss */
.text-red {
  color: #de3f00;
}

/* line 36, app/assets/stylesheets/colors.scss */
.text-burnt {
  color: #ca6c13;
}

/* line 41, app/assets/stylesheets/colors.scss */
.bg-burnt {
  background-color: #ca6c13;
}

/* line 46, app/assets/stylesheets/colors.scss */
.bg-red {
  background-color: #de3f00;
}

/* line 3, app/assets/stylesheets/buttons.scss */
.btn-orange {
  background-color: #ff8800;
  border-color: rgba(255, 166, 0, 0.904);
  color: white;
  border-radius: 20px;
  padding: 6px 30px;
  box-shadow: 0 7px 0 0 #ff6600;
  position: relative;
  transition-duration: 0s;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

/* line 16, app/assets/stylesheets/buttons.scss */
.btn-orange:hover {
  background-color: #ff6600;
  color: whitesmoke;
  top: 7px;
  box-shadow: none;
}
