/* line 11, app/assets/stylesheets/colors.scss */
.text-test {
  color: #4a5c63;
}

/* line 15, app/assets/stylesheets/colors.scss */
.text-orange {
  color: #ff8800;
}

/* line 19, app/assets/stylesheets/colors.scss */
.bg-orange {
  background-color: #ff8800;
}

/* line 23, app/assets/stylesheets/colors.scss */
.text-blue {
  color: #315cfd;
}

/* line 27, app/assets/stylesheets/colors.scss */
.bg-blue {
  background-color: #315cfd;
}

/* line 31, app/assets/stylesheets/colors.scss */
.text-peach {
  color: #ff6600;
}

/* line 35, app/assets/stylesheets/colors.scss */
.bg-peach {
  background-color: #ff6600;
}

/* line 39, app/assets/stylesheets/colors.scss */
.text-red {
  color: #de3f00;
}

/* line 43, app/assets/stylesheets/colors.scss */
.text-burnt {
  color: #ca6c13;
}

/* line 48, app/assets/stylesheets/colors.scss */
.bg-burnt {
  background-color: #ca6c13;
}

/* line 53, app/assets/stylesheets/colors.scss */
.bg-red {
  background-color: #de3f00;
}

/* line 57, app/assets/stylesheets/colors.scss */
.bg-cream {
  background-color: #FFD0AE;
}

/* line 3, app/assets/stylesheets/headers.scss */
.page-header {
  min-height: 35vh;
  margin-bottom: 5vh;
  padding: 2% 7%;
  text-align: center;
  background-image: url("patterns/pattern3.png");
}

/* line 11, app/assets/stylesheets/headers.scss */
.page-header-text {
  width: 50%;
  font-size: 3rem;
  margin: 5% auto;
  -webkit-animation: zoomIn 1s;
          animation: zoomIn 1s;
}

/* line 19, app/assets/stylesheets/headers.scss */
.header-btn {
  -webkit-animation: headShake 2s infinite;
          animation: headShake 2s infinite;
}

/* line 23, app/assets/stylesheets/headers.scss */
#welcome-header {
  width: 100vw;
  height: 95vh;
  padding: 5vh 10% 0 10%;
  background-color: #ff8800;
}

/* line 29, app/assets/stylesheets/headers.scss */
#welcome-header .header {
  position: relative;
  top: 30%;
  margin-bottom: 1rem;
}

/* line 35, app/assets/stylesheets/headers.scss */
#welcome-header .header-text {
  margin-bottom: 3rem;
}

/* line 39, app/assets/stylesheets/headers.scss */
#welcome-header h1 {
  color: white;
  font-size: 6rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

/* line 46, app/assets/stylesheets/headers.scss */
#welcome-header p {
  font-size: 2rem;
  letter-spacing: 2px;
}

/* line 51, app/assets/stylesheets/headers.scss */
#welcome-header #animals {
  top: 100px;
}

/* line 55, app/assets/stylesheets/headers.scss */
#welcome-header #dog {
  position: absolute;
  left: 10%;
  z-index: 1;
}

/* line 60, app/assets/stylesheets/headers.scss */
#welcome-header #dog img {
  width: 80%;
}

/* line 65, app/assets/stylesheets/headers.scss */
#welcome-header #cat {
  position: absolute;
  left: 40%;
}

/* line 69, app/assets/stylesheets/headers.scss */
#welcome-header #cat img {
  width: 80%;
}
