/* line 6, app/assets/stylesheets/pets.scss */
#species-options ul {
  list-style: none;
}

/* line 10, app/assets/stylesheets/pets.scss */
#species-options li {
  display: inline-block;
  margin-right: 15px;
}

/* line 15, app/assets/stylesheets/pets.scss */
#species-options input {
  visibility: hidden;
}

/* line 19, app/assets/stylesheets/pets.scss */
#species-options label {
  cursor: pointer;
}

/* line 23, app/assets/stylesheets/pets.scss */
#species-options input:checked + label {
  background: red;
}
