/* line 2, app/assets/stylesheets/sidebar.scss */
.main-content {
  box-sizing: border-box;
  padding: 0 30px;
}

/* line 7, app/assets/stylesheets/sidebar.scss */
#body-row {
  margin-left: 0;
  margin-right: 0;
}

/* line 14, app/assets/stylesheets/sidebar.scss */
#sidebar-container {
  min-height: 100vh;
  padding: 0;
}

/* Sidebar sizes when expanded and expanded */
/* line 20, app/assets/stylesheets/sidebar.scss */
.sidebar-expanded {
  width: 230px;
}

/* line 24, app/assets/stylesheets/sidebar.scss */
.sidebar-collapsed {
  width: 60px;
}

/* Menu item*/
/* line 29, app/assets/stylesheets/sidebar.scss */
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
/* line 35, app/assets/stylesheets/sidebar.scss */
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}

/* line 40, app/assets/stylesheets/sidebar.scss */
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
/* line 45, app/assets/stylesheets/sidebar.scss */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}

/* line 50, app/assets/stylesheets/sidebar.scss */
.sidebar-separator {
  background-color: #333;
  height: 25px;
}

/* line 55, app/assets/stylesheets/sidebar.scss */
.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
/* line 61, app/assets/stylesheets/sidebar.scss */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* Opened submenu icon */
/* line 70, app/assets/stylesheets/sidebar.scss */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

/* line 78, app/assets/stylesheets/sidebar.scss */
.search-sidebar-container {
  border: 1px solid grey;
  margin-left: 20px;
}

/* line 83, app/assets/stylesheets/sidebar.scss */
.search td {
  text-align: left;
}
