<div class="page-header bg-orange">
	<div class="page-header-text text-white font-weight-bold">
		Cool people. Like you.
	</div>
</div>
<div class="container">
	<div class="row">
		<% @users.each do |user| %>
		<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 text-center">
			<% popupText = "@#{user.username}" %>
			<%= link_to image_tag(user.profile.dp_url, :class => "circles joined-pet img-fluid", :action => "pet image", :title => popupText), user_path(user) %>
		</div>
		<% end %>
	</div>
</div>