<div class="page-header bg-orange">
  <div class="page-header-text text-white font-weight-bold">
    Cool people. Like you.
  </div>
</div>
<div class="container">
<div class="row">
<div class="col">
  <div class="row card-deck">
    <% @users.each do |user| %>
      <div class="col-sm-3 mr-0 mb-5">
        <% popupText = "@#{user.username}" %>
        <% if user.profile.dp_url.empty? %>
          <%= link_to image_tag("patterns/user-pic.png", :class => "joined-pet bg-orange", :action => "pet image", :title => popupText), user_path(user) %>
        <% else %>
          <%= link_to image_tag(user.profile.dp_url, :class => "joined-pet", :action => "pet image", :title => popupText), user_path(user) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
