<div class="page-header bg-orange">
  <div class="page-header-text text-white font-weight-bold">
    Discover events that spark joy.
  </div>
</div>
<div class="row" id="body-row">
  <div id="sidebar-container" class="d-md-block col-lg-3 col-md-4 bg-white">
    <div class="sticky-top sticky-offset">

      <div class="search-sidebar-container p-4 shadow">

        <div class="search-sidebar">

          <h4>What are you looking for?</h4>
          <form action="/events">
            <table>
              <tr>
                <td>Sort By</td>
                <td>
                  <select name="sort" id="">
                    <option value="recent">Recent</option>
                    <option value="oldest">Oldest</option>
                  </select>
                </td>
              </tr>

              <tr>
                <td> <strong>Filter By</strong></td>
              </tr>

              <tr>
                <td>Event Type</td>
                <td>
                  <%= select("filter", "type_id", Type.all.collect {|t| [ t.name.capitalize, t.id ] }) %>
                </td>
              </tr>

              <tr>
                <td><button type="submit">Go!</button></td>
              </tr>
            </table>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-9 col-md-8 main-content">
    <div class="row">
      <% if @events.length > 0 %>
        <div class="h4 my-5 mx-auto">Showing <%= @events[0].type.name %> events</div>
      <% else %>
        <div class="h4 my-5">No events of this type currently! <%= link_to 'Start one?', new_event_path %></div>
      <% end %>
    </div>
    <div class="row card-deck">
      <% if @events.length > 0 %>
      <% @events.each do |event| %>
	<div class="col-xl-3 col-lg-4 col-md-6 mb-3">
	  <%= render :partial => 'events/event_card', locals: { event: event } %>
	</div>

      <% end %>
      <% end %>
    </div>

  </div>
</div>
