<div class="page-header bg-orange">

  <div class="page-header-text text-white font-weight-bold">
    Discover events that spark joy.
  </div>

</div>

<div class="container">

  <div id="events-calendar">
    <%= month_calendar events: @events do |date, events| %>
      <%=  date.strftime("%d %b") %>

      <% events.each do |event| %>
        <div>
          <%= link_to event.title, event_path(event) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
