$orange: #ff8800;
$blue: #315cfd;
$red: #de3f00;
$peach: #ff6600;
$charcoal: #2d2d2d;
$burnt: #ca6c13;

.text-orange {
	color: $orange
}

.bg-orange {
	background-color: $orange;
}

.text-blue {
	color: $blue
}

.bg-blue {
	background-color: $blue
}

.text-peach {
	color: $peach
}

.bg-peach {
	background-color: $peach;
}

.text-red {
	color: $red
}

.text-burnt {
	color: $burnt
}


.bg-burnt {
	background-color: $burnt;
}


.bg-red {
	background-color: $red;
}